<!DOCTYPE html>
<html>
<head>
    <title>My First Blog</title>
</head>
<header>
    <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif;"><strong>(/&bull;&cup;&bull;)/ [* Hello World ]&nbsp; \(&bull;&cup;&bull;\)</strong></h1>
</header>

<body>
    <br>
    <p style="font-family: 'Times New Roman', Times, serif;">Welcome to my blog :D</p>
    <br>
    {% for post in posts %}
    <article>
        <h2><a>{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        <time>published: {{ post.published_date}}</time>
    </article>
{% endfor %}
</body>
</html>